extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id sollicitudin magna. Phasellus in libero ante. Sed condimentum imperdiet nulla, a tristique nulla aliquam id. Aliquam erat volutpat. Nullam aliquet lacus sit amet nisi ultricies tincidunt. Nulla facilisi. Praesent feugiat, dolor a fermentum imperdiet, sapien felis porttitor orci, quis finibus metus nisl vitae mi.

                p Donec tincidunt nisi quis nisl molestie vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sed vulputate nulla. Mauris porta ligula ligula, id bibendum enim mattis in. Duis at sem egestas, tristique diam quis, tristique lectus. Nullam molestie arcu quis est tempus, nec lacinia nunc hendrerit. Ut lorem neque, mattis id convallis ac, condimentum non nisi. 

                p Sed efficitur lorem a rhoncus fringilla. Aenean libero justo, placerat nec ante ultricies, pretium gravida felis. Nullam urna ligula, euismod a condimentum mollis, egestas in felis. Vivamus vehicula molestie mauris sodales aliquet. Vivamus eu urna sit amet elit dignissim porta. In sed consequat massa. Maecenas sollicitudin leo at justo dapibus gravida vel convallis justo. Nunc eget dolor sapien.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vivamus eu urna sit amet elit dignissim porta. In sed consequat massa. Maecenas sollicitudin leo at justo dapibus gravida vel convallis justo. Nunc eget dolor sapien.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vivamus eu urna sit amet elit dignissim porta. In sed consequat massa. Maecenas sollicitudin leo at justo dapibus gravida vel convallis justo. Nunc eget dolor sapien.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Vivamus eu urna sit amet elit dignissim porta. In sed consequat massa. Maecenas sollicitudin leo at justo dapibus gravida vel convallis justo. Nunc eget dolor sapien.